@import "styles/typography.css"; 
@import "styles/colors.css";
*,*::after,*::before{
    box-sizing: border-box;
    outline: none;
}

.body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button{
    border: 0px;
    background-color: inherit;
    cursor: pointer;
}
/* ---------------------------nav bar----------------------------------- */
.navbar{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--N100);
}
.logo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--N100);
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 216px;
    height: 56px;
}
.facebook ,.instagram,.youtube ,.facebook-real,.instagram-real, .youtube-real{
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid inherit;
    transition: transform .2s;
    justify-content: center;
    align-items: center;
}
.youtube img , .youtube-real img{
    opacity: .3;
}
.facebook img{
    transition: transform .2s;
    filter:none;
}
.facebook:hover ,.instagram:hover , .facebook-real:hover, .instagram-real:hover{
    border:2px solid var(--G500);
}
.facebook:hover img,.instagram:hover img, .facebook-real:hover img, .instagram-real:hover img{
    filter: invert(25%) sepia(30%) saturate(1884%) hue-rotate(50deg) brightness(92%) contrast(104%);
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    width: 415px;
    height: 56px;
    color: var(--G500);
}
.book-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 56px;
    border:none;
    color: var(--G500);
    border: 2px solid var(--G500);
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: 0.3s;
}
.book-me:hover {
    border: 2px solid var(--G600);
    background-color: var(--G50);
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}
.calendar-logo {
    margin-right: 10px;
}

.cake-button{
    text-decoration: none;
}
.cake-button-container-green{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 191px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--N0);
    border:2px solid var(--G500);
    background-color: var(--G500);
    transition: .4s;
}
.cake-button-container-green:hover{
    border: 2px solid var(--G600);
    background-color:var(--G600);
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}
.cake-icon{
    margin-right: 8px;
}

.cake-calculator{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 245px;
    height: 56px;
    font-family: Lato;
    color: var(--N300);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 24px;
}
.anchor{
    text-decoration: none;
}
/* ----------------------------------logo container-------------------- */
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 103px;
    height: 170px;
}
/* -----------------------------cake cake-calculator--------------------------------- */
.container{
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(180deg, var(--N100),white);
}
.back-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back{
    margin-left: 10px;
    color: var(--G500);
}
.input-field-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:inherit;
}
.input-field {
    border-style: none;
    margin: 0px;
    border: 1px solid rgb(51, 38, 38);
    padding: 9px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    max-width: 400px;
    cursor: pointer;
    background-image: url(./assets/icons/chevron-down.svg);
    background-position-x: 95%;
    background-position-y: center ;
    background-repeat: no-repeat;
}
input:focus   {
    outline: none;
    border: 2px solid var(--G500);
    padding: 8px;
    background-image: url(./assets/icons/chevron-up.svg);
}

.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 60px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: absolute;
    
  }
  .modal-content {
    background-color: var(--N0);
    padding: 2px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 200px;
    overflow: auto; /* Enable scroll if needed */
    scrollbar-color: green red;
  }
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #myUL {
    /* Remove default list styling */
    list-style-type: none;

  }
  #myUL li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: var(--N0);
    padding: 12px;
    text-decoration: none;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color:var(--N900);
    display: block; /* Make it into a block element to fill the whole list */
    
  }
  #myUL li:hover:not(.header) {
    background-color:var(--N300); /* Add a hover effect to all links, except for headers */
  }
  .selected-cake-container{
      width: 45%;
  }
  .title-container{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--N100);
  }
  .back-nome-button{
     width: 30%;
  }
  .title-text{
      width: 45%;
  }
  .radio{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding-left: 40px;
      font-family:  Lato;
      font-weight: 500;
      font-size: 17px;
      margin-top: 12px;
      letter-spacing: 0.03em;
      color: var(--N900);
  }
  .radio input[type="radio"]{
      display: none;
  }
  .radio span{
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: 2px solid var(--N400);
      position: absolute;
      display: block;
      left: 0px;
      top: 0px;
  }
  .radio span::after{
      content: "";
      height: 9px;
      width: 9px;
      border-radius: 50%;
      background-color: var(--G500);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) scale(0);
      transition: .2s ease-in-out;
  }
  .radio input[type="radio"]:checked ~ span::after{
      transform: translate(-50%,-50%) scale(1);
  }
  .send-inquiry-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 50px auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    height: 56px;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    background-color: var(--G500);
    transition: 0.5s;
}
.send-inquiry-button:hover {
    background-color: var(--G600);
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}
.delivery-logo {
    margin-right: 12px;
}
.send-inquiry-text{
    color:var(--N0);
}
.check{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 40px;
    font-family:  Lato;
    font-weight: 500;
    font-size: 17px;
    margin-top: 12px;
    letter-spacing: 0.03em;
    color: var(--N900);
}
.check input[type="checkbox"]{
    display: none;
}
.check span{
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 2px solid var(--N400);
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
}
.check span::after{
    content: "";
    height: 9px;
    width: 9px;
    border-radius: 1px;
    background-color: var(--G500);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: .2s ease-in-out;
}
.check input[type="checkbox"]:checked ~ span::after{
    transform: translate(-50%,-50%) scale(1);
}
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 20px;
    margin-right: 80px;
}
.selected-cake-container{
    width: 100%;
    background-color: var(--N0);
    padding: 2% 1%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 12px 8px rgba(222, 227, 230, 0.5);

    position: relative;
}
.description{
   width: 48%;
}

.cake{
   width: 48%;
}
.cake-image{
    width: 100%;
    height: 100%;
}
.zigzag{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:0;
    background: var(--N100);
}
.zigzag::before {
    content: '';
    position: absolute;
    background: linear-gradient(-45deg, var(--N100) 50%, transparent 50%),
                linear-gradient(45deg, var(--N100) 50%, transparent 50%);
    background-size: 14px 14px;
    height: 10px;
    width: 100%;
    top: -15px;
   
  }
  .price{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: -8px;
      width: 100%;
      position: relative; 
      background-color: var(--N0);
      box-shadow: 0px -2px 8px rgba(222, 227, 230, 0.3);
     
  }
  .note{
    width: 48%;
    display: flex;
    flex-direction: column;
    padding: 24px;
  }
  .total{
    width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   align-items: baseline;
  }
  .zigzag-2{
    position: absolute;
    width: 100%;
    height:0px;
    background: var(--N0);
    
  }
  .zigzag-2::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, transparent 33.3333%,
    var(--N100) 33.3333%, var(--N100) 66.6667%,
    transparent 66.6667%),
    linear-gradient(-45deg, transparent 33.3333%,
    var(--N100) 33.3333%, var(--N100) 66.6667%,
    transparent 66.6667%);
    background-size: 14px 28px;
    height: 10px;
    top : 0px;
    width: 100%;
    transform: rotate(180deg);
  }
/* ------------------no-name-bottom-footer-end------------------------- */
.no-name{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    margin-top: 200px;
}
.no-name-designer{
    width: 176px;
    height: 24px;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.no-name-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 391px;
    height: 40px;
}
.left-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 192px;
    height: 40px;
    left: 0px;
    top: 0px;
    cursor: pointer;
}
.right-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 40px;
    cursor: pointer;
}
.green{
    color: var(--G500);
}
.no-name-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}

@media screen and (max-width: 1080px) {
    .navbar {
      flex-direction: column-reverse;
      align-items: center;
    }
    .title-container{
        flex-direction: column;
        align-items: center;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .container-2{
        margin: 0px;
        margin-top: 25px;
        width: 95%;
    }
    .no-name{
        flex-direction: column-reverse;
    }
    .input-field-container{
        width: 90%;
        max-width: 400px;
    }
}