@import "styles/typography.css"; 
@import "styles/colors.css";
*,*::after,*::before{
    box-sizing: border-box;
}

.body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
button{
    border: 0px;
    background-color: inherit;
    cursor: pointer;
}
/* ---------------------------nav bar----------------------------------- */
.navbar{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--N100);
}
.logo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--N100);
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 216px;
    height: 56px;
}
.facebook ,.instagram,.youtube ,.facebook-real,.instagram-real, .youtube-real{
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid inherit;
    transition: transform .2s;
    justify-content: center;
    align-items: center;
}
.youtube img , .youtube-real img{
    opacity: .3;
}
.facebook img{
    transition: transform .2s;
    filter:none;
}
.facebook:hover ,.instagram:hover , .facebook-real:hover, .instagram-real:hover{
    border:2px solid var(--G500);
}
.facebook:hover img,.instagram:hover img, .facebook-real:hover img, .instagram-real:hover img{
    filter: invert(25%) sepia(30%) saturate(1884%) hue-rotate(50deg) brightness(92%) contrast(104%);
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    width: 415px;
    height: 56px;
    color: var(--G500);
}
.book-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 56px;
    border:none;
    color: var(--G500);
    border: 2px solid var(--G500);
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: 0.3s;
}
.book-me:hover {
    border: 2px solid var(--G600);
    background-color: var(--G50);
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}

.cake-button{
    text-decoration: none;
}
.cake-button-container-green{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 191px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--N0);
    border:2px solid var(--G500);
    background-color: var(--G500);
    transition: .4s;
}
.cake-button-container-green:hover{
    border: 2px solid var(--G600);
    background-color:var(--G600);
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}
.cake-icon{
    margin-right: 8px;
}

.cake-calculator{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 245px;
    height: 56px;
    font-family: Lato;
    color: var(--N300);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 24px;
}
.anchor{
    text-decoration: none;
}
/* ----------------------------------logo container-------------------- */
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 103px;
    height: 170px;
}
/* -----------------------------cake cake-calculator--------------------------------- */
.container{
    background-color: var(--N100);
    display: flex;
    justify-content: center;
}
.input-field-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--N100);
}
.input-field {
    border-style: none;
    margin: 0px;
    border: 1px solid rgb(51, 38, 38);
    padding: 9px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background-image: url(./assets/icons/chevron-down.svg);
    background-position-x: 95%;
    background-position-y: center ;
    background-repeat: no-repeat;
}
input:focus   {
    outline: none;
    border: 2px solid var(--G500);
    padding: 8px;
    background-image: url(./assets/icons/chevron-up.svg);
}

.modal {
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 60px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: absolute;
    
  }
  .modal-content {
    background-color: var(--N0);
    padding: 2px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 200px;
    overflow: auto; /* Enable scroll if needed */
    scrollbar-color: green red;
  }
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #myUL {
    /* Remove default list styling */
    list-style-type: none;

  }
  #myUL li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: var(--N0);
    padding: 12px;
    text-decoration: none;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    color:var(--N900);
    display: block; /* Make it into a block element to fill the whole list */
    
  }
  #myUL li:hover:not(.header) {
    background-color:var(--N300); /* Add a hover effect to all links, except for headers */
  }
  .selected-cake-container{
      width: 45%;
  }
  .title-container{
      display: flex;
      align-items: center;
      padding: 40px;
      justify-content: center;
      background-color: var(--N100);
  }
  .back-nome-button{
     width: 30%;
  }
  .title-text{
      width: 45%;
  }