@import "styles/typography.css"; 
@import "styles/colors.css"
*,*::after,*::before{
    box-sizing: border-box;
}

/*heders od h1 do h6*/
body{
    margin: 0px;
    padding: 0px;
}
button{
    border: 0px;
    background-color: inherit;
}
/* --------------------------nav bar ------------------------------ */
.navbar{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--N100);
}
.logo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--N100);
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 216px;
    height: 56px;
}
.facebook ,.instagram,.youtube ,.facebook-real,.instagram-real, .youtube-real{
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transition: .2s;
    justify-content: center;
    align-items: center;
}
.facebook:hover ,.instagram:hover , .facebook-real:hover, .instagram-real:hover{
    border:1px solid var(--N900);
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    width: 490px;
    height: 56px;
    color: var(--G500);
}
.book-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 56px;
    border:none;

    color: var(--G500);
    border: 2px solid var(--G500);
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: .3s;
}
.book-me:hover {
    border: 2px solid var(--G600);
    background-color: #F5FAEB;
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}
.cake-calculator{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 245px;
    height: 56px;
    font-family: Lato;
    color: var(--N300);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 24px;
}
.anchor{
    text-decoration: none;
}
/* ----------------------------------logo container-------------------- */
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 103px;
    height: 170px;
}
/* --------------------------chef as a service--------------- */
.main-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    height: 580px;
    background-color: var(--N100);
}
.main-menu-background{
    height: 90%;
    width:32%;
    margin-right: 20px;
    background-color: var(--N100);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-menu-content{
    color: var(--N700);
}
.main-menu-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.profile-picture{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.profile-text{
    margin-left: 20px;
}
.profile-text-name,.profile-text-email{
    margin: 0px;
}
.profile-text-name{
    color: var(--N900);
}
.profile-text-email{
    color: var(--G500);
}
.booking-calendar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    width: 390px;
    height: 44px;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    background-color: var(--G500);
    color:white;
    transition: 0.5s;
}
.booking-calendar-button:hover {
    background-color: var(--N100);
    color: var(--gray);
}
.booking-calendar-button:hover img{
   filter: none;
}
.calendar-logo {
    margin-right: 12px;
}
.calendar-logo-img{
    filter: invert(99%) sepia(6%) saturate(282%) hue-rotate(271deg) brightness(115%) contrast(100%);
    transition: .6s;
}
.main-menu-image-container{
    height: 100%;
    width: 45%;
}
.main-menu-image{
    width: 100%;
    height: 100%;
}
/* -------------middle text card------------------ */
.middle-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: var(--N100);
    background-image: linear-gradient(180deg, var(--N100),white);
}
.middle-text-inner-div{
    position: relative;
    margin-top: 25px;
    background-color: white;
    width: 70%;
}
/* --------------------life school card------------------------------ */
.life-school-container{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-1 , .item-2 , .item-3{
    display: flex;
    flex-direction: column;
}
.life-school-img{
    overflow: hidden;
}
.life-school-img img{
    transition: transform .6s;
}
.life-school-img:hover img{
    transform: scale(1.08,1.08);
}
.picture-1{
    width: 350px;
    height: 169px;
}
/* -----------------------follow me card------------------------------------- */
.follow-me-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}
.follow-me{
    margin: 0px;
}
.follow-me-social{
    margin-left:0;
    margin-top: 20px;
}
/* ------------------------------Some previews from Lala.Kitchen----------------- */
.follow-me,.most-popular-menu-title{
    text-align: center;
    /* letter-spacing: 0.08em; */
    color:var(--N900);
}
.most-popular-menu-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-one, .item-two , .item-three{
    display: flex;
    margin-right: 15px;
    flex-direction: column;
}
.item-picture {
    width: 350px;
    height: 324px;
    overflow: hidden ;
    
}
.item-picture img{
    transition: transform .6s;
}
.item-picture:hover img{
    transform: scale(1.08,1.08);
}
.most-popular-menu-title{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px 140px;
}

.most-popular-menu-title{
    justify-content: center;
}
.green-span{
    color:var(--G500);
}
/* ------------------crawing for sweets card --------------------------- */

.crawing-card-container{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--N100) ;
}
.cake-picture-container{
    width: 50%;
    overflow: hidden;
}
.cake-picture-container img{
    transition: transform .6s;
}
.cake-picture-container:hover img{
    transform: scale(1.08,1.08);
}
.cake-picture{
    width: 100%;
    height: 670px;
}
.cake-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--N100);
}
.cake-text-inner-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
}
.cake-button{
    text-decoration: none;
}
.cake-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 56px;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    color: var(--G500);
    border:2px solid var(--G500);
    transition: .4s;
}
.cake-button-container:hover{
    border: 2px solid var(--G600);
    background-color: #F5FAEB;
    box-shadow: 0 12px 16px 0 rgba(56,102,0,0.3);
}
.cake-icon{
    margin-right: 8px;
}
/* --------------------Our Cake kitchen------------------------------ */
.bottom-menu-title{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px 140px;
    padding: 50px 140px;
    justify-content: flex-start;
}
/* ------------------promoted card container------------------- */
.promoted-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.promoted-card-image{
    position: relative;
    width: 540px;
    height: 468px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    overflow: hidden;
}
.promoted-card-image img{
    transition: transform .6s;
}
.promoted-card-image:hover img{
    transform: scale(1.08,1.08);
}
.promoted-card-top-order-button{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 8px 16px;
    width: 132px;
    height: 40px;
    background: #FFDB5A;
}
.promoted-card-top-order-button-icon{
    margin-right: 8px;
}
.promoted-card-top-order-button-content{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* letter-spacing: 0.03em; */
    color: var(--N900);
}
.promoted-card-text-container{
    width: 570px;
    height: 468px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.promoted-card-text{
    width: 441px;
    height: 324px;
    position: relative;
}
.promoted-card-text-button{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 148px;
    height: 56px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background: var(--G500);
    color: white;
}
/* ------------------promoted card container------------------- */

/* -----------------bottom-section------------------------------------- */
.bottom-section-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.tin-section{
    width: 255px;
    height: 562px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.tin-section-image{
    overflow: hidden;
}
.tin-section-image img{
    transition: transform 0.6s;
}
.tin-section-image:hover img{
    transform: scale(1.08,1.08);
}
.fat-section-top{
    overflow: hidden;
}
.fat-section-top img{
    transition: transform 0.6s;
}
.fat-section-top:hover img{
    transform: scale(1.08,1.08) rotate(360deg);
}
.fat-section{
    width: 541px;
    height: 562px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.tin-section-top{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 50%;
}
.tin-section-bottom{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 50%;
}
.fat-section-bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.tin-section-title{
    align-items: flex-start;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    /* letter-spacing: 0.03em; */
    color: var(--N700);
}
.tin-section-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.description{
    width: 239px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.description-content{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 20px;
    /* letter-spacing: 0.05em; */
    text-transform: uppercase;
    color: var(--N400);
}
.span-ordered{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 20px;
    /* letter-spacing: 0.05em; */
    text-transform: uppercase;
    color: var(--N900);
}
.fat-section-title{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
    /* letter-spacing: 0.08em; */
    color: var(--N900);
}
.fat-section-text{
    margin: 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* letter-spacing: 0.03em; */
    color: var(--N700);
}
/* -----------------bottom-section-----end-------------------------------- */
/* ----------------------footer and about me------------------------ */
.footer-container{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
}
.footer-logo-container{
    position: relative;
    width: 730px;
    height: 496px;
}
.cake-logo-1{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 38px;
    left: 200px;
}
.cake-logo-2{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 38px;
    left: 632px;
}
.two-layer-cake-logo-1{
    width: 41px;
    height: 41px;
    position: absolute;
    top: 112px;
    left: 118px;
}
.two-layer-cake-logo-2{
    width: 41px;
    height: 41px;
    position: absolute;
    top: 112px;
    left: 551px;
}

.cooking-food-logo-1{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 35px;
    left: 44px;
}
.cooking-food-logo-2{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 35px;
    left: 464px;
}
.footer-follow-me{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    left: 0px;
    top: 80px;
}
.space{
    margin-top: 20px;
}
.green-space{
    color: var(--G500);
}
.about-me-div{
    width: 350px;
    height: 496px;
}
.about-me-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.about-me-border-text{
    position: absolute;
    left: 40%;
    top: -7px;
    height: 14px;
    width: 68 px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
    font-size: 12px;
    font-family: sans-serif;
}
.about-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    border: 1px solid var(--gray);
}
.about-me-picture{
    width: 108px;
    height: 108px;
    border-radius: 50%;
}
.about-me-title{
    text-align: center;
}
.about-me-content{
    text-align: center;
}
.about-me-social{
    margin-left: 0;
    margin-top: 20px;
}
.about-me-title{
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    /* letter-spacing: 0.09em; */
    color: var(--N700);
}
.about-me-content {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    /* letter-spacing: 0.03em; */
    color: var(--N700);
}
.about-me-signature{
    font-family: Alex Brush;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    /* letter-spacing: 0.09em; */
    color: var(--N700);
}
/* -----------------------about me container---------------------------- */
/* ------------------no-name-bottom-footer-end------------------------- */
.no-name{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}
.no-name-designer{
    width: 176px;
    height: 24px;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.no-name-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 391px;
    height: 40px;
}
.left-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: 192px;
    height: 40px;
    left: 0px;
    top: 0px;
}
.right-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 40px;
}
.green{
    color: var(--G500);
}
.no-name-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}
/* ---------------------------------tulips css--------------------------------- */
.tulip-big{
    position: absolute;
    display: block; 
    flex-shrink: 0; 
    user-select: none; 
    pointer-events: none; 
    width: 64px; 
    height: 59px; 
    overflow: hidden; 
    transform: none;
}
.tulip-big-1{
    top: 200px; 
    left: 200px; 
}
.tulip-big-2{
    top: 120px; 
    right: 300px; 
}
.tulip-big-3{
    top: 0px; 
    right: 450px; 
}
.tulip-big-4{
    top: 70px; 
    left: 70px; 
}
.tulip-big-5{
    top: 40px; 
    left: 600px; 
}
.tulip-big-6{
    top: 10px; 
    left: 760px; 
}
.tulip-big-7{
    top: 10px; 
    left: 360px; 
}
.tulip-big-8{
    top: 10px; 
    left: 260px; 
}
.tulip-big-9{
    top: 200px; 
    left: 460px; 
}
@media screen and (max-width: 1060px) {
    .navbar {
      flex-direction: column-reverse;
      align-items: center;
    }
    .main-menu{
        flex-direction: column-reverse ;
        height: auto ;
    }
    .main-menu-image-container{
        width: 80% ;
        margin: 0;
    }
    .main-menu-background{
        width: 80% ;
        margin-right: 0 ;
    }
   
}
@media screen and (max-width: 900px) {
    .most-popular-menu-items{
        flex-direction: column ;
        align-items: center;
    }
    .item-picture{
        width: fit-content ;
        height: auto ;
    }
    .item-text-content{
        text-align: center;
    }
    .item-text-title{
        text-align: center ;
    }
    .life-school-container{
        flex-direction: column ;
        align-items: center;
    }
    .crawing-card-container{
        flex-direction: column ;
    }
    .cake-picture-container{
        width: 90% ;
    }
    .cake-text{
        width: 90% ;
    }
    .no-name{
        flex-direction: column-reverse;
    }

}
/* -----------------------fliping animation card------------------------ */
.container{
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    height: 340px;
}
.middle{
    transform: translate(0,0);
}
.card{
    cursor: pointer;
    width: 30%;
    height: 100%;
}
.front , .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    width: 100%;
    height: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    transform: perspective(600px) rotateY(180deg);
}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

