*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --green: #498500;
    --darkgreen:#2d5201;
    --lightgray:rgb(239, 242, 245);
    --gray:rgb(95,95,95);
    --darkgray:rgb(33,33,33);
    --disabledgray:#BFCDCA;
}
@font-face {
    font-family: Niconne;
    src: url(./assets/fonts/Niconne-Regular.ttf);
  }
  @font-face {
    font-family: Alex Brush;
    src: url(./assets/fonts/AlexBrush-Regular.ttf);
  }
  
body{
    margin: 0;
}
.navbar{
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--lightgray);
   
}
.logo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--lightgray);
    
}
.social {
    /* margin-top: 24px;
    margin-left: 32px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 216px;
    height: 56px;
   
}
.facebook ,.instagram,.youtube{
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transition: .2s;
    justify-content: center;
    align-items: center;
   
}
.facebook:hover ,.instagram:hover{
    border:2px solid var(--darkgray);
}
.contact{
    /* margin-top: 24px;
    margin-right: 24px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    width: 490px;
    height: 56px;
    color: var(--green);
   
}
.book-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 56px;
    border:none;
    color: var(--green);
    border: 2px solid var(--green);
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.03em;
    transition: .4s;
}
.book-me:hover {
    border: 2px solid var(--darkgreen);
    background-color: #F5FAEB;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.cake-calculator{
    display: flex;
    width: 245px;
    height: 56px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--disabledgray);
    align-items: center;
    justify-content: center; 
}
.anchor{
    text-decoration: none;
}
/* .anchor{
    text-decoration: none;
    transition: .2s;
}
.anchor:hover{
    transform: scale(1.08,1.08);
}
.anchor:active{
    transform: scale(.9,.9);
} */

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 103px;
    height: 170px;
}
.lala-text{
    font-family: Niconne !important;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    color: var(--green);
    letter-spacing: 0.2px;
    line-height: 1;
    text-align: center;
}
.kitchen-text{
    font-family: sans-serif;
    font-size: 16px;
    color: var(--green);
    letter-spacing: 5px;
    line-height: 1;
}
@media screen and (max-width: 1060px) {
    .navbar {
      flex-direction: column-reverse;
      align-items: center;
    }
    .main-menu{
        flex-direction: column-reverse !important;
        height: auto !important;
    }
    .main-menu-image-container{
        width: 80% !important;
        margin: 0;
    }
    .main-menu-background{
        width: 80% !important;
        margin-right: 0 !important;
    }
   
}
@media screen and (max-width: 900px) {
    .most-popular-menu-items{
        flex-direction: column !important;
        align-items: center;
    }
    .item-picture{
        width: fit-content !important;
        height: auto !important;
    }
    .item-text-content{
        text-align: center;
    }
    .item-text-title{
        text-align: center !important;
    }
    .life-school-container{
        flex-direction: column !important;
        align-items: center;
    }
}

.main-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    height: 580px;
    background-color: var(--lightgray);
}
.main-menu-background{
    height: 90%;
    width:32%;
    margin-right: 20px;
    background-color: var(--lightblue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main-menu-image-container{
    height: 100%;
    width: 45%;
}

.main-menu-title , .middle-text-title, .most-popular-menu-title, 
.bottom-menu-title , .about-me-title , .follow-me, .cake-text-title {
    font-weight: bolder;
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.item-text-title ,.bottom-text-title , .profile-text-title{
    text-align: left;
    font-weight: bolder;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.main-menu-content , .middle-text-content, .item-text-content ,
 .bottom-text-content , .profile-text-content ,.about-me-content  {
    font-size: 17px;
    font-weight: 400;
    color:var(--gray);
    line-height: 1.5;
}
.profile-text-content{
    color: var(--green);
}
.main-menu-image{
    width: 100%;
    height: 100%;
}
.main-menu-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.profile-picture{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.profile-text{
    margin-left: 20px;
}
.booking-calendar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 390px;
    height: 44px;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    background-color: var(--green);
    color:white;
    transition: 0.5s;
}
.booking-calendar-button:hover {
    background-color: var(--lightgray);
    color: var(--gray);
}
.booking-calendar-button:hover img{
   filter: none;
}
.calendar-logo {
    margin-right: 12px;
}
.calendar-logo-img{
    filter: invert(99%) sepia(6%) saturate(282%) hue-rotate(271deg) brightness(115%) contrast(100%);
    transition: .6s;
}
.middle-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: var(--lightgray);
    background-image: linear-gradient(180deg, var(--lightgray),white);
}
.middle-text-inner-div{
    position: relative;
    margin-top: 25px;
    background-color: white;
    width: 70%;
}
.most-popular-menu-title, .bottom-menu-title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 140px;
}
.bottom-menu-title{
    padding: 50px 90px;
}
.most-popular-menu-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item-one, .item-two , .item-three{
    display: flex;
    margin-right: 15px;
    flex-direction: column;
}
.life-school-container{
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-1 , .item-2 , .item-3{
    display: flex;
    flex-direction: column;
}
.picture-1{
    width: 350px;
    height: 169px;
}
.item-picture {
    width: 340px;
    height: 430px;
}
.picture{
    width: 100%;
    height: 100%;
}
.follow-me-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.follow-me-social{
    margin-left:0;
    margin-top: 20px;
}
.flippig-card-container{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content: center;
    background-color: var(--lightgray) ;
}
.cake-picture-container{
    width: 50%;
}
.cake-picture{
    width: 100%;
    height: 670px;
}
.cake-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: var(--lightgray) !important;
}
.cake-text-inner-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 50%;
}
.cake-button{
    text-decoration: none;
}
.cake-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 56px;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 400;
    color: var(--green);
    border:2px solid var(--green);
    transition: .4s;
}
.cake-button-container:hover{
    border: 2px solid var(--darkgreen);
    background-color: #F5FAEB;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.cake-icon{
    margin-right: 8px;
}
.cake-text-content{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.03em;
color: #3B3C45;
}
@media screen and (max-width: 1150px) {
    .bottom-menu-container{
        flex-direction: column !important;
        justify-content: center;
        align-items: center !important;
    }    
    .bottom-menu{
        width: 90% !important;
    }
    .about-me-container{
        width: 60% !important;
    }
}
.bottom-menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottom-menu{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr)) ;
    gap: 3rem 1rem;
}
.about-me-container{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
.about-me-border-text{
    position: absolute;
    left: 40%;
    top: -7px;
    height: 14px;
    width: 68 px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
    font-size: 12px;
    font-family: sans-serif;
}
.about-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    border: 1px solid var(--gray);
}
.about-me-picture{
    width: 108px;
    height: 108px;
    border-radius: 50%;
}
.about-me-signature{
    font-family: Alex Brush,serif;
    font-size: 22px;
    font-weight: 400;
    color: var(--gray);
    letter-spacing: 0.2px;
    padding-top: 30px;
    text-align: center;
}
.about-me-title{
    text-align: center;
}
.about-me-content{
    text-align: center;
}
.about-me-social{
    margin-left: 0;
    margin-top: 20px;
}
.bottom-menu-picture .bottom-menu-text{
    width: 350px;
    height: 270px;
}
.tulip-big{
    position: absolute;
    display: block; 
    flex-shrink: 0; 
    user-select: none; 
    pointer-events: none; 
    width: 64px; 
    height: 59px; 
    overflow: hidden; 
    transform: none;
}
.tulip-big-1{
    top: 200px; 
    left: 200px; 
}
.tulip-big-2{
    top: 120px; 
    right: 300px; 
}
.tulip-big-3{
    top: 0px; 
    right: 450px; 
}
.tulip-big-4{
    top: 70px; 
    left: 70px; 
}
.tulip-big-5{
    top: 40px; 
    left: 600px; 
}
.tulip-big-6{
    top: 10px; 
    left: 760px; 
}
.tulip-big-7{
    top: 10px; 
    left: 360px; 
}
.container{
    position: relative;
    width: 900px;
    height: 300px;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.card{
    cursor: pointer;
    width: 50%;
    height: 100%;
}
.front , .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.front img{
    height: 100%;
}
.front{
    transform: perspective(600px) rotateY(0deg);
}
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    transform: perspective(600px) rotateY(180deg);
}
.card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

